.language-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.language-switcher p {
  font-size: 24px;
  margin-bottom: 10px;
}

.language-switcher button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.language-switcher button:hover {
  background-color: #0056b3;
}
